.panel-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

input, button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #388e3c;
  color: white;
  border: none;
}

button:hover {
  background-color: #2e7d32;
}

.cerrar-sesion {
  background-color: #c62828;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.cerrar-sesion:hover {
  background-color: #b71c1c;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.info {
  color: green;
  margin: 10px 0;
}

h2{
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0f3f2;
}

.eliminar {
  background-color: #ec6363;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.eliminar:hover {
  background-color: #c62828;
}